
.category-nav{
	width: 100vw;
	height: rem(50);
  	background-color: #fff;
	display: flex;
	position: relative;
	text-align: center;
	// margin-top: rem(35);

	@include desktop{
		align-items: center;
		padding-bottom: rem(15);
	}

	&__button{
		a{
			text-decoration: none;
			color: $color-grey;
			font-size: rem(14);
		}
		display: block;
		margin-top: rem(14);
		width: percentage(2/20);

		@include desktop{
			display: none;
		}
	}

	&__links-ctr{
		flex: 1;
		overflow: hidden;
		font-family: 'Open Sans', sans-serif;
		font-size: rem(13);

		@include desktop {
			font-size: rem(13);
		}

		a, a:visited{
			text-transform: uppercase;
			text-decoration: none;
			color: $color-grey;
			font-size: rem(14);
		}

		a:first-child{
			padding-left: 0;
		}

		a:hover{
			color: $color-grey;
		}

	}
	
	&__track{
		display: block;
    	transition: transform 0.2s ease;

		.item{
			padding-top: rem(15);
			display: inline-block;
			padding-left: rem(24);
		}

		.first{
			padding-left: 0;
		}

		@include desktop{
			width: rem(1000);
			margin-left: auto;
			margin-right: auto;
		}
	}	

}
