body{
  position: '';
}

.insert-fixed{
  position: fixed;
}

.header {
  width: 100%;
  background-color: #FFF;
  position: fixed;
  transition: transform 0.4s ease;
  z-index: 1;

  @include desktop {
    top: 0;
    margin-right: 0;
  }

  &__content {
    display: flex;
    padding-right: rem(20);
    padding-left: rem(20);
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;

    @include desktop {
      width: rem(985);
      padding: 0; 
      margin-left: auto;
      margin-right: auto;
    }

    #headerTitle, h1{
      margin-top: rem(26);
      font-size: rem(35);
      font-family: $times;
      color: $color-black;

      @include desktop{
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        position: sticky;
        font-size: rem(38);
      }
    }
  }

  &__link-left, h1 {
    @include desktop {
      margin: 0;
      padding-top: 0;
    }
  }

  &__link-left {
    vertical-align: center;
    display: none;
    color: $color-grey;

    &:hover {
      color: $color-black;
    }

    @include desktop {
      display: block;
    }
  }  

  &__link-right {
    display: none;
    color: $color-green;

    &:hover {
      border-color: $color-green-hover;
      color: $color-green-hover;
    }

    @include desktop {
      display: inline-block;
      margin-right: rem(16);
      margin-top: rem(20);
    }
  }

  &__button {
    width: rem(107);
    padding: rem(8) rem(14);
    margin: rem(10) 0 rem(10) 0;
    cursor: pointer;
    font-size: rem(13);
    border-radius: rem(5);
    border-color: $color-green;
    color: $color-green;

    @include desktop{
      width: rem(109);
      padding: rem(10) rem(10);
    }

    &:hover {
      border-color: $color-green-hover;
      color: $color-green-hover;
    }
  }

  h1 {
    @include desktop {
      text-align: center;
    }
  }

  a {
    font-family: $open-sans;
    font-size: rem(13);
    letter-spacing: rem(-0.42);
    text-decoration: none;
  }

  .fa-search {
    margin-right: rem(5);
    color: $color-grey;

    @include desktop {
      margin-right: rem(16);
    }
  }

  .fa-search:hover{
    color: $color-black;
  }

  &__link{
    display: flex;

    input:focus{
      outline-width: 0;
    }

    ::placeholder{
      color: $color-grey;
    }
  }

  &__search{
    transition: width 0.2s ease;
    border: none;
    font-size: rem(14);
    font-family: $open-sans;
    line-height: rem(20);
    width: 0;
    color: $color-black;
    padding: 0;
  }

  .insert-search__desktop{
    padding-right: rem(10);
    width: rem(180);
  }

  form{
    margin-top: rem(17.5);
    @include desktop{
      margin-top: rem(20);
    }

    .submitSearch{
      display: none;
    }
  }
  
}