h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: font("open-sans", "default"); }

h1 {
  font-size: rem(40);
  font-weight: rem(400); }
  @media (min-width: 760px) {
    h1 {
      font-size: rem(42); } }
  @media (min-width: 1020px) {
    h1 {
      font-size: rem(60); } }

h2 {
  font-size: rem(30);
  font-weight: rem(400); }
  @media (min-width: 760px) {
    h2 {
      font-size: rem(32); } }
  @media (min-width: 1020px) {
    h2 {
      font-size: rem(50); } }

h3 {
  font-size: rem(25);
  font-weight: rem(400); }
  @media (min-width: 760px) {
    h3 {
      font-size: rem(27); } }
  @media (min-width: 1020px) {
    h3 {
      font-size: rem(36); } }

h4 {
  font-size: rem(20);
  font-weight: 700;
  line-height: 1; }
  @media (min-width: 1020px) {
    h4 {
      font-size: rem(30); } }

h5 {
  font-size: rem(17);
  font-weight: 400;
  line-height: 1.3; }
  @media (min-width: 760px) {
    h5 {
      font-size: rem(18); } }
  @media (min-width: 1020px) {
    h5 {
      font-size: rem(21); } }

h6 {
  font-size: rem(34);
  font-weight: 700;
  line-height: 0.9; }
  @media (min-width: 1020px) {
    h6 {
      font-size: rem(50); } }

p {
  font-size: rem(16); }

.header-link {
  color: #03a87c;
  font-size: rem(8);
  font-weight: 700;
  letter-spacing: rem(2);
  line-height: 1.3;
  text-transform: uppercase; }

.category-nav-link {
  font-family: font("open-sans", "default");
  font-size: rem(15); }
  @media (min-width: 1020px) {
    .category-nav-link {
      font-size: rem(16); } }

* {
  box-sizing: inherit; }
  *::before, *::after {
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  overflow-x: hidden; }

img {
  max-width: 100%; }

.full-width {
  width: 100%; }

.category-nav {
  width: 62.5rem;
  height: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center; }
  .category-nav__links {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125rem;
    padding-top: 0.9375rem; }
    @media (min-width: 1020px) {
      .category-nav__links {
        font-size: 0.875rem; } }
    .category-nav__links a, .category-nav__links a:visited {
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.54);
      padding-left: 1.5rem; }
    .category-nav__links a:first-child {
      padding-left: 0; }
    .category-nav__links a:hover {
      color: rgba(0, 0, 0, 0.84); }

.featured-content {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.75rem;
  width: 90vw; }
  @media (min-width: 760px) {
    .featured-content {
      margin-right: 1rem;
      margin-left: 1rem;
      margin-top: 0.75rem;
      width: 95.7894736842vw;
      min-height: 25.1875rem;
      position: relative; }
      .featured-content:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 55.3571428571%; }
      .featured-content > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden; } }
  .featured-content__cards {
    margin-bottom: 3.5rem; }
  .featured-content__cards__large {
    margin-bottom: 2.5rem; }
  .featured-content__cards__large__image {
    margin: 0;
    margin-bottom: 1rem;
    width: 90vw;
    min-height: 9.375rem;
    position: relative; }
    .featured-content__cards__large__image:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 52.0833333333%; }
    .featured-content__cards__large__image > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow: hidden; }
    @media (min-width: 760px) {
      .featured-content__cards__large__image {
        width: 41.5789473684vw;
        min-height: 9.375rem;
        position: relative;
        margin-right: 1.5rem; }
        .featured-content__cards__large__image:before {
          display: block;
          content: '';
          width: 100%;
          padding-top: 47.4683544304%; }
        .featured-content__cards__large__image > * {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          overflow: hidden; } }
    @media (min-width: 1020px) {
      .featured-content__cards__large__image {
        width: 29.3137254902vw;
        min-height: 9.375rem;
        position: relative; }
        .featured-content__cards__large__image:before {
          display: block;
          content: '';
          width: 100%;
          padding-top: 50.1672240803%; }
        .featured-content__cards__large__image > * {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          overflow: hidden; } }
    .featured-content__cards__large__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .featured-content__cards__large__details {
    display: block;
    position: relative;
    width: 90vw;
    margin-bottom: 1rem; }
    @media (min-width: 760px) {
      .featured-content__cards__large__details {
        padding-left: 0.75rem;
        width: 41.5789473684vw; } }
    .featured-content__cards__large__details .large-title {
      font-size: 1.0625rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      letter-spacing: -0.02625rem;
      color: #000;
      padding-right: 6.5rem;
      margin-bottom: 0.25rem; }
      @media (min-width: 760px) {
        .featured-content__cards__large__details .large-title {
          padding-right: 0;
          width: 40vw; } }
    .featured-content__cards__large__details p {
      margin-top: 0;
      margin-bottom: 0;
      width: 57.5vw;
      font-size: 0.875rem;
      font-family: 'Open Sans', sans-serif;
      color: #949494;
      letter-spacing: -0.02625rem; }
      @media (min-width: 760px) {
        .featured-content__cards__large__details p {
          padding-right: 0;
          width: 40vw; } }
  .featured-content footer {
    margin-top: 0;
    margin-bottom: 0;
    width: 44.6875vw;
    font-size: 0.8125rem;
    font-family: 'Open Sans', sans-serif;
    color: #000; }
    @media (min-width: 760px) {
      .featured-content footer {
        padding-left: 0.75rem;
        width: 40vw; } }
  .featured-content__smallContainer article:last-child {
    margin-bottom: 0; }
  .featured-content__cards__small {
    display: flex;
    margin-bottom: 1.5rem; }
  .featured-content__cards__small__details {
    width: 57.5vw;
    margin-right: 1.5rem; }
    .featured-content__cards__small__details .small-title {
      font-size: 0.875rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      letter-spacing: -0.02625rem;
      color: #000;
      margin: 0;
      margin-bottom: 1.25rem;
      width: 57.5vw; }
    .featured-content__cards__small__details footer p {
      margin-top: 0;
      margin-bottom: 0;
      width: 44.6875vw;
      font-size: 0.8125rem;
      font-family: 'Open Sans', sans-serif;
      color: #000; }
  .featured-content__cards__small__image {
    margin: 0;
    margin-bottom: 1rem;
    width: 25vw;
    min-height: 5rem;
    position: relative; }
    .featured-content__cards__small__image:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%; }
    .featured-content__cards__small__image > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow: hidden; }
    .featured-content__cards__small__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .featured-content .featured-link {
    margin-bottom: 1rem;
    padding-left: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125rem; }
    .featured-content .featured-link a, .featured-content .featured-link a:visited {
      text-transform: uppercase;
      text-decoration: none;
      color: #03a87c; }
    .featured-content .featured-link a:hover {
      color: #027758;
      /* change the color 
      when Sam changes the colors for link*/ }

.header__content {
  display: flex;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between; }
.header__link-right, .header h1 {
  margin: 0;
  padding-top: 0.625rem; }

/*# sourceMappingURL=styles.css.map */
