$color-black: #000000; 
$color-green: #03a87c;
$color-green-hover: #03966f;
$color-grey: rgba(0,0,0,.54);
$color-grey-dark: rgba(0,0,0,.76);
$color-grey-light: #e6e6e6;
$color-white: rgba(255, 255, 255, .97);