$color-black: #000; 
$color-green: #03a87c;
$color-grey: #949494;



// $color-key: ‘base’ !default;

// $colorpalette: (
//  'black-belt': (
//    'base': $color-black
//  ),
//  'green': (
//    'base': $color-green
//  ),
//  'grey': (
//    'base': $color-grey,
//  ),
// );